html {
    box-sizing: border-box;
    /* font-size: 62.5%; */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ddd;
    /* font-size: 1.6rem; */
    /* line-height: 2; */
}

/* HEADER */
header {
    background-color: gray;
    color: #fff;
    text-align: center;
    height: auto;
}

/* CONTENEDOR */
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

/* BARRA DE ELEMENTOS DEL HEADER */
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* BARRA DE NAVEGACION  */
nav {
    /* background-color: #333; */
    color: #fff;
    padding: 3px; /*/* Esto es para darle un poco de relleno al contenedor del nav
    /* text-align: center; */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: auto;
    padding: 10px 5px 10px 5px;
}

nav a:hover {
    background-color: #333;
    color: white;
}

@media (min-width: 768px) {
    .nav-user {
        display: flex;
        gap: 2rem;
    }
}

#nombreUsuario {
    text-transform: uppercase;
}

button, input[type="button"] {
    /* border: none; */
    background-color: #333;
    /* color: white; */

    /* width: 0%; */
    margin: auto 0;
    height: 30px;
    /* background: aqua; */
    border: none;
    outline: none;
    /* border-radius: 40px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

button:hover, input[type="button"]:hover {
    background-color: #ddd;
    /* border:  2px solid black; */
    color: #333;
}

button:disabled, input[type="button"]:disabled {
    background-color: gray;
}

/* CONTENIDO */
.contenido-principal {
    background-color: white;
    margin: 50px auto 50px auto;
    padding: 0 30px 30px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.usuarios-barra,
.altas-barra,
.consultas-barra,
.cambios-barra {
    display: flex;
    justify-content: space-between;
}

.busqueda-barra{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

input[type=search] {
    float: right;
    padding: 6px;
    border: none;
    /* margin-top: 8px;
    margin-right: 16px; */
    font-size: 17px;
    background-color: #ddd;
    width: 100%;
}

/* TABLA */
/* Estilos generales para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0 30px 0;
    border-radius: 5px;
    overflow:hidden
}

/* Estilos para los encabezados de la tabla */
thead th {
    background-color: #2ba6cb;
    color: white;
    text-align: left;
    padding: 8px;
}

/* Estilos para las celdas de la tabla */
tbody td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Estilos para las filas de la tabla al pasar el mouse */
tbody tr:hover {
    background-color: #c7c7c7;
}

@media only screen and (max-width: 1000px) {

    table,
    thead,
    tbody,
    tr,
    th,
    td,
    caption {
        display: block;
        border-radius: 5px;
        overflow:hidden
    }

    table {
        border: none
    }

    table thead tr {
        display: none;
    }

    table tbody tr {
        margin: 1em 0;
        border: 1px solid #2ba6cb;
    }

    table td {
        border: none;
        border-bottom: 1px solid #dddddd;
        position: relative;
        padding-left: 45%;
        text-align: left;
    }

    table tr td:last-child {
        border-bottom: 1px double #dddddd;
    }

    table tr:last-child td:last-child {
        border: none;
    }

    table td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    td:nth-of-type(1):before {
        content: "Nombre";
    }

    td:nth-of-type(2):before {
        content: "Nacimiento";
    }

    td:nth-of-type(3):before {
        content: "Edad";
    }

    td:nth-of-type(4):before {
        content: "Género";
    }

    td:nth-of-type(5):before {
        content: "Login";
    }

    td:nth-of-type(6):before {
        content: "Creación";
    }

    td:nth-of-type(7):before {
        content: "Acceso";
    }

    td:nth-of-type(8):before {
        content: "Acciones";
    }
}

.acciones {
    text-align: center;
    vertical-align: middle;
}

.botonEditar {
    background-color: green;
}

.botonEliminar {
    background-color: red;
}

/* RESUMEN DATOS TABLA */
#resumenTabla {
    display: block;
    text-align: center;
}

@media (min-width: 768px) {
    #resumenTabla { 
        background-color: #f4f4f4;
        padding: 10px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
}

/* PAGINACION Y CONTADOR */
.paginacion {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#contador {
    text-align: center;
    margin-top: 10px;
    margin: 0 15px 0 15px;
}

/* FOOTER */
footer {
    /* background-color: #333; */
    background: linear-gradient(180deg, rgba(110,110,110,1) 0%, rgba(134,134,134,1) 50%, rgba(221,221,221,1) 100%);
    color: #fff;
    text-align: center;
    padding: 10px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

footer span {
    font-style: italic;
}

/* UTILIDADES */

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

.flex {
    display: flex;
}

.oculto {
    display: none;
}

.logo {
    color: white;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo__icono img {
    width: 30px;
}

.logo__nombre {
    font-weight: 400;
}

.logo__nombre span {
    font-weight: 700;
}

.contenedor-boton {
    padding-top: 20px;
    justify-content: space-between;
    /* justify-content: flex-start; */
}

/* Formulario */

#formulario {
    background-color: gray;
    width: min(100rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    /* padding: 2rem 10rem 2rem 10rem; */
    border-radius: 1rem;
}

#formulario fieldset {
    border: none;
}

#formulario legend {
    text-align: center;
    /* font-size: 1.8rem; */
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #FFC107;
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        /* grid-template-columns: 50% 50%; */
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: auto auto 20rem; */
        grid-template-rows: auto auto auto;
        column-gap: 1rem;
    }
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.campo textarea {
    height: 20rem;
}

.input-text {
    width: 100%;
    border: none;
    /* padding: 1.5rem; */
    padding: 1rem;
    border-radius: .5rem;
}

/* Estilos para Modal Imagen */ 

#abrirModal {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;

    font-size: unset;
    height: unset;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.5s ease-in-out;
}

.modal-contenido {
    background-color: #fefefe;
    /* color: #ddd; */
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
	max-width: 50rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    animation: fadeIn 0.5s ease-in-out;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.dropzone {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15px;
}

.dropzone p {
    margin: 0;
}

.preview {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    display: none;
}

/* NUEVOS ESTILOS PARA EL NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    height: 40px;
    margin-right: 10px;
}

.logo a {
    color: white;
    text-decoration: none;
}

.navbar .menu {
    display: flex;
    align-items: center;
}

.navbar .menu a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
}

.perfil {
    color: white;
}

.navbar .menu a:hover, .perfil:hover {
    background-color: #575757;
    border-radius: 10px;
}

.navbar .perfil {
    position: relative;
}

.navbar .perfil img {
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.desplegable {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.navbar .perfil .desplegable {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.navbar .perfil .desplegable a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar .perfil .desplegable a:hover {
    background-color: #ddd;
    border-radius: 10px;
}

.navbar .perfil:hover .desplegable {
    display: block;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    .navbar .menu {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .navbar .menu a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid #444;
    }

    .navbar .menu a:first-child {
        border-top: none;
    }

    .navbar .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .navbar .menu-toggle div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px 0;
    }

    .perfil {
        display: none;
    }
}

/* Nuevas */
.contenido-perfil {
    display: flex;
}

.contenido-perfil p {
    margin: auto 10px auto 10px;
}

.menu-toggle {
    display: none;
}


/* camara  */
:root {
	--colorOficial:  #DF8316;
	--botones-borde-normal: 1px solid transparent;
	--borde-normal: 1px solid #E3E3E3;
	--fontColor: black;
	--fontWeight: lighter;
	--fontSizeNormal: .9rem;
}

html{ font-family: sans-serif; }

main {
	display: flex;
	overflow-y: auto;
	align-items: center;
	flex-direction: column;
}

#contenedor {
	width: 100%;
	max-width: 1024px;
}

#contenedor > .agrupaciones:first-child {
	margin-top: 2rem;
}

#contenedor > .agrupaciones ~ .agrupaciones {
	margin-top: 3rem;
}

.agrupaciones {
	width: 100%;
}

	.agrupaciones > h3 {
		margin: 0 1rem;
		font-weight: lighter;
		color: var(--colorOficial);
		border-bottom: var(--borde-normal);
	}

.agrupacion-columna, .agrupacion-columna-grow {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1rem 1rem 0 1rem;
}

	.agrupacion-columna-grow {
		flex-grow: 1;
		margin: auto;
	}

.agrupacion {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.duplaColumna {
	align-items: start;
	flex-direction: column;
}

.duplaFila, .duplaColumna {
	flex-grow: 1;
	display: flex;
	flex: 1 1 auto;
	flex-wrap: nowrap;
	margin: 1rem 1rem 0 1rem;
}

.duplaFila > label, .duplaColumna > label {
	font-weight: bold;
	white-space: nowrap;
	color: var(--fontColor);
	font-size: var(--fontSizeNormal);
}

.duplaColumna > label {
	margin-bottom: .5rem;
}
/*  =============================
	MANEJO DEL VIDEO Y FOTOGRAFÍA
	============================= */

.flex-space-around, .flex-space-around-column {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

	.flex-space-around {
		flex-direction: row;
		margin: 1rem 1rem 0 1rem;
	}

	.flex-space-around-column {
		flex-direction: column;
	}

#video, #canvas {
	min-width: 320px;
	max-width: 320px;
	min-height: 240px;
	border-radius: 10px;
	border: var(--botones-borde-normal);
}

#foto-contenedor {
	display: flex;
	overflow: hidden;
	max-width: 320px;
	min-height: 240px;
	max-height: 240px;
	border-radius: 10px;
	align-self: stretch;
	align-items: center;
	justify-content: center;
}

	#foto-contenedor img {
		width: 100%;
		max-width: 100%;
	}

	@supports(object-fit: cover){
		#foto-contenedor img {
		  height: 100%;
		  object-fit: cover; /* contain | cover | fill | none | scale-down */
		  object-position: center center;
		}
	}

.camara {
	min-width: 80px;
}

#iconoFoto, #iconoCambiar {
	display: flex;
	cursor: pointer;
	font-size: 4rem;
	align-items: center;
	justify-content: center;
}

	#iconoFoto:hover, #iconoCambiar:hover {
		color: var(--colorOficial)
	}

#foto {
	cursor: pointer;
}

.camara {
	min-width: 80px;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}